.sendMessageFormWrapper {
   background: #1b1b1f;
   padding: 24px;
   align-self: center;

   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   position: relative;
}

.signOutButton {
   height: 32px;
   width: 32px;
   border: 0;

   background: transparent;
   color: var(--gray-2);
   
   position: absolute;
   top: 24px;
   left: 24px;

   cursor: pointer;

   &:hover {
      filter: brightness(0.8);
   }
}

.userInformation {
   display: flex;
   flex-direction: column;
   align-items: center;

   .userImage {
      padding: 3px;
      background: var(--gradient);
      border-radius: 50%;
      line-height: 0;

      > img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        border: 4px solid #121214;;
      }
    }
   
   .userName {
      font-size: 24px;
      line-height: 30px;
      margin-top: 16px;
   }

   .userGithub {
      display: flex;
      align-items: center;

      margin-top: 8px;
      color: var(--gray-2);

      svg {
         margin-right: 8px;
      }
   }
}

.sendMessageForm {
   display: flex;
   flex-direction: column;
   align-self: stretch;
   margin-top: 48px;

   background: var(--black-3);
   
   > label {
      font-size: 20px;
      padding: 18px 24px;
      background: var(--gray-4);
      font-weight: bold;
      text-align: left;
   }

   > textarea {
      background: transparent;
      border: 0;
      padding: 24px;
      height: 160px;
      color: var(--gray-3);
      font-size: 16px;
      line-height: 24px;
      resize: none;

      &:focus {
         outline: 0;
      }

      &::placeholder {
         color: var(--gray-1)
      }
   }

   > button {
      background: var(--pink);
      margin: 24px;
      padding: 0 32px;
      border: 0;
      border-radius: 3px;
      height: 40px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
    
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
    
      svg {
        margin-right: 16px;
      }
    
      &:hover {
        filter: brightness(0.8);
      }
   }
}